h2 {
    font-family: Lato;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.31;
    color: #444;
    margin-top: 15px;;
}
p {
    font-family: Lato;
    font-size: 16px;
    line-height: 1.7;
    color:#5c5d67;
}